@{
    ViewData["Title"] = "Home Page";
}


<div class="mainlanding">
    <div class="container">
        <h1 class="white-text">The game site is under development</h1>
        <h4 class="white-text">https://themastermind.azurewebsites.net/</h4>
    </div>
</div>

